<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">Taxi Seguro</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="ayuda" class="page">
        <div class="page-content">
            <div class="content-block-title">Contactos en peligro</div>
                
            <!-- <form class="searchbar">
              <div class="searchbar-input">
                <input type="search" placeholder="BuscarNuevoContacto" id="buscarNuevoContacto">
              </div>
            </form> -->

            <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
                <div class="searchbar-input">
                  <input type="search" placeholder="Search" id="buscarContactoPeligro"><a href="#" class="searchbar-clear"></a>
                </div><a href="#" class="searchbar-cancel">Cancel</a>
            </form>

            <div class="searchbar-overlay"></div>

            <div class="content-block searchbar-not-found">
              <div class="content-block-inner">Nothing found</div>
            </div>
            
            <div class="list-block media-list searchbar-found">
                <ul class="" id="resultsContactoPeligro"></ul>
            </div>

        </div>
    </div>

    

</div>

