
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Atrás</span></a></div>
        <div class="center sliding">Detalles</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="DetallesUser" class="page">
        <div class="page-content">
            
            <div class="content-block-title">Información</div>
            <div class="card">
                <div class="card-header">Ver contacto</div>
                <div class="card-content">
                    <div class="card-content-inner" id="showdata">
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon f7-icons">person</i></div>
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="text" name="nombreContactoEdit" placeholder="Nombre(s)" id="nombreContactoEdit" minlength="4" maxlength="100" disabled="true" />   
                                            </div>
                                        </div>
                                    </div>
                                </li> 

                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon f7-icons">phone_round</i></div>
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="tel"  name="telefonoContactoEdit" placeholder="Número telefónico" id="telefonoContactoEdit" disabled="true" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon f7-icons">camera_fill</i></div>
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <img src="" id="fotoContacto" width="100">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <a href="#" id="EliminarRelacion" name="EliminarRelacion" class="button button-big button-fill form-from-data color-red" disable="true">Eliminar relación</a>
                    </div>
                </div>
            </div>           
            
        </div>
    </div>
</div>
